**/_ngo
**/_xmsgs
**/iseconfig
**/planAhead_run_*
**/xlnx_auto_0_xdb
**/xst
*.map
*.html
*.log
*.xml
*.xise
*.gise
*.debug
*.tcl
*.xst
*.xpi
*.ut
*.unroutes
*.twx
*.twr
*.syr
*.stx
*.ptwx
*.prj
*.pcf
*.par
*.pad
*.ngr
*.ngd
*.ngc
*.ncd
*.lso
*.drc
*.cmd_log
*.bld
*.bgn
*.xrpt
*.csv
*.ngm
*.mrp
*.xwbt