NET "HSYNC" LOC = P11;
NET "VSYNC" LOC = P14;
NET "RED" LOC = P16;
NET "GREEN" LOC = P21;
NET "BLUE" LOC = P23;

NET "START" LOC = P66;
NET "P_LEFT" LOC = P47;
NET "P_RIGHT" LOC = P48;
NET "CLOCK" LOC = P123;

NET "A" LOC = P41;
NET "B" LOC = P40;
NET "C" LOC = P35;
NET "D" LOC = P34;
NET "E" LOC = P32;
NET "F" LOC = P29;
NET "G" LOC = P27;

NET "C0" LOC = P44;
NET "C1" LOC = P43;
NET "C2" LOC = P33;
NET "C3" LOC = P30;