NET "HSYNC" LOC = P11;
NET "VSYNC" LOC = P14;
NET "RED" LOC = P16;
NET "GREEN" LOC = P21;
NET "BLUE" LOC = P23;

NET "BUZZER" LOC = P83;
NET "START" LOC = P46;
NET "START" CLOCK_DEDICATED_ROUTE = FALSE;
NET "P_LEFT" LOC = P47;
NET "P_RIGHT" LOC = P48;
NET "CLOCK" LOC = P123;

NET "SEGMENT(6)" LOC = P41;
NET "SEGMENT(5)" LOC = P40;
NET "SEGMENT(4)" LOC = P35;
NET "SEGMENT(3)" LOC = P34;
NET "SEGMENT(2)" LOC = P32;
NET "SEGMENT(1)" LOC = P29;
NET "SEGMENT(0)" LOC = P27;

NET "COMMON(0)" LOC = P44;
NET "COMMON(1)" LOC = P43;
NET "COMMON(2)" LOC = P33;
NET "COMMON(3)" LOC = P30;